body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#gallery {
  display: flex;
  flex-direction: column;
}

#gallery img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 5px;
  cursor: pointer;
}
